* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: #939598;
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  height: 180px;
  background-color: #212121;
}

main {
  width: 100%;
}

h1 {
  width: 450px;
  margin: 0 auto 10px;;
  color: #00a79d;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  text-align: center;
}

button {
  align-self: center;
  width: 5%;
  height: 20px;
  background: url(assets/radio-off-button.svg) no-repeat center;
  background-size: contain;
  border: none;
}
button:focus {
  outline: none;
}

.banner-secondary {
  margin-bottom: 10px;
  color: #6d6e71;
}

.inputs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 105px;
  width: 450px;
  margin: 0 auto;
  background-color: white;
}

.save-button {
  width: 50px;
  height: 50px;
  margin: 0px 30px 0 20px;
  background: url(assets/plus.svg) no-repeat center;
  background-size: contain;
  border: none;
}

.save-button:disabled {
  background-image: url(assets/plus-disabled.svg);
}

.save-button[disabled]:hover {
  background-image: url(assets/plus-disabled.svg);
}

.save-button:hover {
  background-image: url(assets/plus-hover.svg);
}

.inputs-container {
  width: 70%;
  height: 100%;
  padding: 10px 0;
}

.text-inputs {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  margin: 4px 0px;
  background-color: transparent;
  color: #212121;
  border: 1px solid #9d9d9d;
  font-size: 16px;
  font-weight: 600;
}
.text-inputs::-webkit-input-placeholder {
  color: #424242;
  font-weight: 300;
}
.text-inputs::-webkit-input-placeholder { /* Chrome */
  color: #424242;
  font-weight: 300;
}
.text-inputs:-ms-input-placeholder {
  /* IE 10+ */
  color: #424242;
  font-weight: 300;
}
.text-inputs::-moz-placeholder {
  /* Firefox 19+ */
  color: #424242;
  font-weight: 300;
  opacity: 1;
}
.text-inputs:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #424242;
  font-weight: 300;
  opacity: 1;
}
.text-inputs:focus {
  outline-color: #424242;
}

.char-erro-msg {
  font-size: 12px;
}

/*----- Main -----*/
.importance {
  display: flex;
  justify-content: space-between;
  width: 450px;
  height: 40px;
  margin: 5px auto;
}

.importance-btn {
  width: 20%;
  height: 25px;
  margin: 0 5px;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 450px;
  height: 40px;
  margin: 0 auto 10px;
}

.inputFilter {
  width: 78%;
  padding-left: 10px;
  font-size: 16px;
}

.todos-count {
  width: 450px;
  margin: 0 auto 10px;
}

.todo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.todo-card {
  display: flex;
  flex-wrap: wrap;
  min-width: 450px;
  max-width: 450px;
  padding: 0 10px;
  margin-bottom: 5px;
  border: 1px solid #d1d3d4;
}

.completed-btn {
  width: 20%;
  height: 30px;
  color: white;
  background: none;
  background-color: #5e9aff;
  border-radius: 10px;
  font-size: 14px;
}

.completed {
  background-color: transparent;
  background: url(assets/radio-on-button.svg) no-repeat center;
  background-size: contain;
}

.completed-card {
  opacity: 0.5;
}

.completed-card .title {
  opacity: 0.5;
}

.card-content {
  width: 90%;
  padding: 10px;
}

.title,
.task {
  width: 100%;
  padding: 5px;
}
.title {
  color: #212121;
}
.task {
  margin-bottom: 10px;
}

.delete {
  width: 5%;
  height: 20px;
  background: url(assets/delete.svg) no-repeat center;
  background-size: contain;
}
.delete:hover {
  background: url(assets/delete-hover.svg) no-repeat center;
  background-size: contain;
}

.importance-container {
  display: flex;
  width: 100%;
}
.importance-font {
  align-self: center;
  width: 50px;
  font-size: 12px;
}
.rating {
  align-self: center;
  width: 50px;
  text-align: center;
}

.up-vote,
.down-vote {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.up-vote {
  background: url("assets/upvote.svg") no-repeat;
  background-size: cover;
}
.up-vote:hover {
  background: url("assets/upvote-hover.svg") no-repeat;
  background-size: cover;
}

.down-vote {
  background: url("assets/downvote.svg") no-repeat;
  background-size: cover;
}
.down-vote:hover {
  background: url("assets/downvote-hover.svg") no-repeat;
  background-size: cover;
}

.show-more-btn {
  display: block;
  width: 450px;
  height: 30px;
  margin: 0 auto;
  background: none;
  background-color: #00ccd2;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

/*----- Importance Btn Colors -----*/
#Any {
  background-color: salmon;
}
#Critical {
  background-color: #ff5e5e;
}
#High {
  background-color: #ffd25e;
}
#Normal {
  background-color: #5effcf;
}
#Low {
  background-color: #5e9aff;
  color: white;
}
#None {
  background-color: #373737;
  color: white;
}

/*----- Media Queries -----*/
@media screen and (max-width: 550px) {
  h1 {
    width: 350px;
  }
  .inputs {
    width: 350px;
  }
  .text-inputs {
    width: 80%;
  }
  .importance {
    width: 350px;
  }
  .filter-container {
    width: 350px;
  }
  .todos-count {
    width: 350px;
  }
  .completed-btn {
    font-size: 10px;
  }
  .todo-card {
    min-width: 350px;
    max-width: 350px;
  }
}
.show-more-btn {
  width: 350px;
}

@media screen and (max-width: 430px) {
  h1 {
    width: 300px;
  }
  .inputs {
    width: 300px;
  }
  .save-button {
    width: 40px;
    height: 40px;
  }
  .text-inputs {
    width: 80%;
  }
  .importance {
    width: 300px;
  }
  .filter-container {
    width: 300px;
  }
  .todos-count {
    width: 300px;
  }
  .todo-card {
    min-width: 300px;
    max-width: 300px;
  }
  .show-more-btn {
    width: 300px;
  }
}
